{% extends 'base.html' %}
{% block page_cont %}
    <section id="detailsPage">
        <div class="wrapper">
            <div class="profilePage">
                <img src="{{ profile.image }}"
                     alt="Profile Image">
            </div>

            <div class="profileText">

                <h1>Username: {{ profile.username }}</h1>
                <h1>Email: {{ profile.email }}</h1>
                <h1>Age: {{ profile.age }}</h1>
                <h1>Albums: {{ albums }}</h1>
            </div>

            <div class="actionBtn">

                <a href="{% url 'profile delete page' %}" class="remove">Delete</a>
            </div>

        </div>
    </section>
{% endblock page_cont %}
